* {
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.border {
  align-items: center;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  body {
    width: 480px;
  }
}